/*
!.gitignore
!configure
!/arch_init.c

!/include/
/include/*
!/include/sysemu/
/include/sysemu/*
!/include/sysemu/arch_init.h

!/default-configs/
/default-configs/*
!/default-configs/tms320c28x-softmmu.mak

!/target/
/target/*
!/target/tms320c28x/

!/hw/
/hw/*
!/hw/tms320c28x/

!.vscode/